h1{
    font-size: 50px; 
    font-family: sans-serif; 
    font-weight: bold;  
}

h2{
    font: bold 14px   sans-serif; 
}

body{
    text-align: center;
}

header, section, footer, aside, nav, article, hgroup{
    display: block;
}


.agrupar{
    width: 1000px; 
    background-color: rgb(118, 186, 231);
    margin: 25px auto; 
    padding: 40px;  
}

header{
    background-color: rgb(166, 255, 0); 
}

.cabezera{
    background-color: white;
    border: 1px solid rgb(56, 100, 52);
    
}

.cabezera h1{
    text-align: left;
    padding: 20px;

}

.menu{
    background-color: whitesmoke;
    padding: 5px 15px; 
    text-align: left; 
    border: 1px solid rgb(167, 113, 43);
}

.menu li{ 
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    
    display: inline-block; 
}

.seccion{
    background-color: rgb(33, 206, 62);
    margin: 20px;
    width: 58%; 
    border: 1px solid rgb(240, 131, 7);
    float: left; 
}

.columna{
    background-color: rgb(212, 248, 7);
    margin: 125px 8px;
    width: 36%;
    border: 1px solid rgb(8, 8, 8);
    float: left;
}

.pie{
    clear: both;
    padding: 20px;
    background-color: rgb(167, 47, 141);
    font: bold 16px times new roman;
}

.seccion article{
    background-color: whitesmoke;
    padding: 15px;
    margin: 15px;
    border: 1px solid rgb(187, 99, 99);
}

.seccion h2{
    text-align: left;
}

.seccion footer{
    text-align: left;
    padding: 15px;
    color: brown;
}
.seccion p{
    text-align: justify;
}

.seccion img{
    width: 250px;
    display: block;
    margin: auto;
    padding: 10px;
}
.columna blockquote{
    border: 1px solid rgb(126, 98, 62, 0.65);
    background-color: white;
    padding: 80px;
    font: bold 14px sans-serif;
}